/* OrderHistory.css */
.order-history-container {
    text-align: center;
  }
  
  .order-list {
    list-style: none;
    padding: 0;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .order-details {
    text-align: left;
  }
  
  .review-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .review-button:hover {
    background-color: #0056b3;
  }